* {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
#img-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
#image {
    width: 100vw;
    height: 100vh;
    background-image:linear-gradient(120deg, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.1) 50%),url("./images/background-img.jpg") ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#landing {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#heading-container {
    display: flex;
    position: absolute;
    top: 10%;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}
#heading {
    font-size: 7rem;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}
.rotate {
    position: relative;
    height: 150px;
    width: 150px;
    animation: rotation 5s infinite linear;
}
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
#sub-heading {
    font-size: 7rem;
    font-family: 'Roboto', sans-serif;
    padding-top: 20px;
}
#input-container {
    display: flex;
    position: absolute;
    top: 70%;
    width: 80%;
    justify-content: space-around;
}
#search-bar {
    width: 80%;
}
#search-bar input {
    width: 100%;
    height: 3rem;
    background-color: lightblue;
    color: black;
    font-size: 1.5rem;
}

#cards {
    display: flex;
    justify-content: space-around;
    color: black;
}

#cards .card.text-center{
    margin-top: 30px;
}
#countryName {
    font-size: 4rem;
    padding-bottom: 5px;
}
#cards .card .card-body .card-title {
    margin-top: 18%;
    padding-bottom: 5px;
    font-size: 2rem;
}
#cards .card .card-body .card-text {
    padding-bottom: 5px;
    font-size: 4rem;
}
#date {
    margin-top: 30px !important;
    overflow: hidden;
}

@media (max-width: 600px) {
    #heading-container {
        display: flex;
        position: absolute;
        top: 10%;
    }
    #heading {
        font-size: 5rem;
    }
    .rotate {
        height: 100px;
        width: 100px;
    }
    #sub-heading {
        font-size: 5rem;
    }
}